@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import "bootstrap.min.css";
@import "swiper-bundle.min.css";
@import "all.css";



/* Custom Reset */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Exo 2', sans-serif;
    background-color: #000002;
}

a.active,
a:focus,
button:focus,
button.active {
    outline: none;
}

a {
    text-decoration: none;
}

a:focus,
a:hover,
a:active {
    outline: 0;
    box-shadow: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

.header-img {
    background-image: url(../images/home-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 900px;
    padding-top: 51px;
}

.about-img {
    background-image: url(../images/game-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 471px;
    padding-top: 51px;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Exo 2', sans-serif;
    padding-left: 32px;
}
.navbar-nav .nav-item .nav-link:hover{
   color: #FF9737;
}
.size-1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #F82363;
}

.line2 {
    background: #FF9737;
    width: 24px;
    height: 5px;
    margin-left: 32px;
}

.about-img .about-text h3 {
    font-size: 24px;
    line-height: 36px;
    color: #DCD7E4
}

.navbar-nav .nav-item .nav-link.active {
    color: white;
    font-weight: 800;
}

.btn-contact {
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: linear-gradient(93.94deg, #030042 0%, #F92363 52.17%, #2723FF 100%);
    border-radius: 8px;
    padding: 14px 24px;
    border: 0px;
}

.btn-contact:hover {
    background: radial-gradient(102.82% 174.13% at 0% 0%, #080119 0%, #F92363 77.78%, #F92363 92.71%);
    color: white;
    transition: 1s;
}

.btn-start {
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: linear-gradient(93.94deg, #030042 0%, #F92363 52.17%, #2723FF 100%);
    border-radius: 8px;
    padding: 20px 32px;
    border: 0px;
}

.btn-start:hover {
    background: radial-gradient(102.82% 174.13% at 0% 0%, #080119 0%, #F92363 77.78%, #F92363 92.71%);
    color: white;
    transition: 1s;
}


header .text-box h1 {
    font-style: normal;
    padding-top: 77px;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: white;
    font-family: 'Audiowide', cursive;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #DCD7E4;
}

.btn-learn {
    background: radial-gradient(102.82% 174.13% at 0% 0%, #080119 0%, #F92363 77.78%, #F92363 92.71%);
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    border: 0px;
    color: #FFFFFF;
    padding: 20px 56px;
    margin-top: 24px;
}

.btn-learn:hover {
    background: linear-gradient(93.94deg, #030042 0%, #F92363 52.17%, #2723FF 100%);
    color: #FFFFFF;
}

.btn-view {
    background: radial-gradient(102.82% 174.13% at 0% 0%, #080119 0%, #F92363 77.78%, #F92363 92.71%);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    border-radius: 8px;
    border: 0;
    padding: 16px 40px;
}

.btn-view:hover {
    background: linear-gradient(93.94deg, #030042 0%, #F92363 52.17%, #2723FF 100%);
    color: #FFFFFF;
}

header .text-box span {
    color: #FF9737;
}

.card-box {
    background: linear-gradient(180deg, rgba(87, 33, 192, 0.4) 0%, rgba(68, 45, 112, 0) 100%);
    backdrop-filter: blur(32px);
    border-radius: 8px;
    padding: 24px 24px 32px 24px;

}

header .card-box {
    margin-top: 428px;
}

.solution-card {
    padding: 40px 32px 56px 32px;
    border-radius: 16px;
}

.paragraph-size {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DCD7E4;
    padding-top: 16px;
}

.copy-right {
    padding: 40px 0px 40px 0px;
}

.about-heading2 {
    font-size: 40px;
    line-height: 120%;
}

.card-box span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FF9737;
}

.story-sec {
    background-color: #000002;
}

.orange-color {
    color: #FF9737;
}

.text-style {
    background: linear-gradient(180deg, #DCD7E4 14.58%, #000002 81.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.heading-size {
    font-style: normal;
    font-weight: 400;
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
}

.story-sec .text-box {
    padding-top: 247px;
}

.story-sec .image-holder {
    padding-top: 89px;
}

.text-box2 {
    padding-top: 79px;
}

.traning-sec {
    background-image: url(../images/bg-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 129px 0px 129px 0px;
    margin-top: 145px;
}

.line {
    background: #FF9737;
    width: 53px;
    height: 5px;
    margin-top: 16px;
}

.start-sec {
    margin-top: 152px;
}

.started-box {
    background: linear-gradient(93.94deg, #080119 0%, #000061 100%);
    border-radius: 24px;
    padding: 88px 210px 67px 210px;

}

.heading {
    font-weight: 400;
    font-size: 56px;
    line-height: 84px;
    text-align: center;
    color: #8B8BA5;
    font-family: 'Audiowide', cursive;
}

.about-heading {
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    color: #FFFFFF;
    font-family: 'Audiowide', cursive;
}

.play-sec {
    margin-top: 120px;
}

.tell-sec {
    margin-top: 152px;
}

.space {
    padding-top: 72px;
}

.let-space {
    font-weight: 400;
    font-family: 'Audiowide', cursive;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 72px;
}

.paragraph-size2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #DCD7E4;
}

.digital-sec .card-box h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    font-family: 'Audiowide', cursive;
    color: #FFFFFF;
}

.size {
    color: #FF9737;
    font-weight: 700;
}

.games-sec {
    margin-top: 156px;
}

.box {
    background: linear-gradient(180deg, rgba(87, 33, 192, 0.4) 0%, rgba(68, 45, 112, 0) 100%);
}


.games-sec .box .text-box {
    padding: 22px 24px 40px 24px;
}

.games-sec .box .text-box h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Audiowide', cursive;
    color: #FFFFFF;

}

.card-sec {
    margin-top: 92px;
    margin-bottom: 196px;
}

.games-sec .box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DCD7E4;
    padding-bottom: 16px;
}

.btn-detail {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Audiowide', cursive;
    color: #F82363;
}

.games-space {
    padding-top: 56px;
}

.team-card {
    background: linear-gradient(180deg, rgba(87, 33, 192, 0.4) 0%, rgba(68, 45, 112, 0) 100%);
    border-radius: 16px;
    padding: 24px;
    border: 0;
}

.team-card h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Audiowide', cursive;
    text-align: center;
    color: #FFFFFF;
    padding-top: 16px;
}

.team-card h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DCD7E4;
}

.team-line {
    width: 53px;
    height: 5px;
    margin: auto;
    background: #FF9737;
}

.team-sec {
    margin-top: 168px;
}

#games {
    margin-top: 120px;
}

.contact-sec {
    padding-top: 113px;
}

.contact-form {
    background: linear-gradient(180deg, rgba(87, 33, 192, 0.4) 0%, rgba(68, 45, 112, 0) 100%);
    border-radius: 24px;
    padding: 46px 65px 55px 65px;
}

.footer {
    background: #090912;
    padding: 84px 0px 54px 0px;
    margin-top: 84px;
}

.socail-img {
    padding-top: 16px;
}

.socail-img img {
    padding-left: 21px;
}

.footer .fotter-text h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    font-family: 'Audiowide', cursive;
    color: #FFFFFF;
}

.footer .fotter-text .footer-text img {
    margin-right: 14px;
}

.footer .fotter-text .footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DCD7E4;
}

.contact-line {
    width: 53px;
    height: 5px;
    background: #FF9737;
    margin-top: 8px;
}

.form-input {
    background: #3B2D5B;
    border-radius: 8px;
    border: 0;
    height: 40px;
    color: white;
}

.contact-sec .contact-form label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #DCD7E4;
}

.contact-sec .contact-form textarea {
    height: 133px;
}

.btn-message {
    background: radial-gradient(102.82% 174.13% at 0% 0%, #080119 0%, #F92363 77.78%, #F92363 92.71%);
    border-radius: 8px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 100px 16px 100px;
    color: #FFFFFF;
}

.btn-message:hover {
    background: linear-gradient(93.94deg, #030042 0%, #F92363 52.17%, #2723FF 100%);
    color: #FFFFFF;
}

.btn-primary {
    background: #F82363;
    border-radius: 8px;
    padding: 8px 16px;
    border: 0;
    border: 0;
}
.btn-primary:hover {
    background: linear-gradient(93.94deg, #030042 0%, #F92363 52.17%, #2723FF 100%);
    color: #FFFFFF;
}
.footer .fotter-text .footer-text:hover {
    color: #FF9737;
}
/* -====== about ==== */
.about-img h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    font-family: 'Audiowide', cursive;
    color: #DCD7E4;
}

.about-heading2 {
    font-style: normal;
    font-weight: 400;
    font-family: 'Audiowide', cursive;
    font-size: 48px;
    line-height: 120%;
    color: #FFFFFF;
}

.about-img h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    font-family: 'Audiowide', cursive;
}

.about-text {
    padding-top: 99px;
}

.digital-sec {
    background-image: url(../images/about-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1078px;
    padding-top: 90px;
}

.digital-sec .text-box h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Audiowide', cursive;
    color: #FFFFFF;
}

.about-paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: white;
}

.about-paragraph2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #DCD7E4;
}

.arrow-space {
    margin-top: 40px;
}

.solution-sec {
    margin-top: 117px;
}

.solution-sec .card-box h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    font-family: 'Audiowide', cursive;
    color: #FFFFFF;
}

.meeting-sec {
    margin-top: 88px;
}

/* ============ games= ========== */

.card-space {
    margin-top: 96px;
}

.sidenav {
    height: 100%;
    transform: translateX(-252px);
    position: fixed;
    width: 250px;
    z-index: 1;
    top: 0;
    left: 0;
    background: #050525;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

#responsive {
    display: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.form-control:focus {
    background-color: #3B2D5B;
    border-color: none;
    box-shadow: none;
    color: white;
}
.fixed-top{
    background-color: #000061;
    padding: 15px 0px 15px 0px;
}
.container {
    max-width: 1220px;
}